.stub-page {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 12px;
	background: #ffffff;
}

.stub-page h1 {
	font-size: 24px;
	font-weight: 500;
	color: #1e1e1e;
	text-align: center;
}

.stub-page p {
	font-size: 16px;
	color: #999;
}

.stub-page__link {
	margin-top: 20px;
	font-size: 14px;
	color: #3369f3;
	text-decoration: none;
}

.stub-page__link:hover {
	text-decoration: underline;
}
