<main class='profile-card'>

	<div class='profile-card__side'>
		{{{backButton}}}
	</div>

	<div class='profile-card__content'>

		<div class='password-edit-page__avatar'>
			<div class='avatar-wrapper'>
				<img src='{{avatar}}' alt='Аватар' />
			</div>
		</div>

		<form class='password-edit-form'>

			<div class='field'>
				<span>Старый пароль</span>
				<input type='password' name='oldPassword' />
			</div>

			<div class='field'>
				<span>Новый пароль</span>
				<input type='password' name='newPassword' />
			</div>

			<div class='field'>
				<span>Повторите новый пароль</span>
				<input type='password' name='repeatPassword' />
			</div>

			<div class='save-btn-wrapper'>
				{{{submitButton}}}
			</div>

		</form>

	</div>

</main>