@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.password-edit-page__avatar {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.password-edit-form {
	width: 510px;
	@include m.form-column(18px);
}

.password-edit-form .field {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-bottom: 8px;
	border-bottom: 1px solid v.$color-border;
}

.password-edit-form .field span {
	font-size: 13px;
	color: v.$color-text-main;
	font-weight: 500;
}

.password-edit-form input {
	border: none;
	outline: none;

	width: 260px;
	text-align: right;

	font-size: 13px;
	color: v.$color-text-muted;
	font-weight: 500;

	background: transparent;
}

.save-btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.save-btn-wrapper .button {
	width: 280px;
}
