.back-button {
	width: 28px;
	height: 28px;

	border-radius: 50%;
	border: 1.6px solid #ffffff;

	background: #3369f3;
	color: #ffffff;

	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	transition: background 0.2s ease;

	&:hover {
		background: #2b5dde;
	}

	&:active {
		background: #244fbe;
	}
}
