<main class='signin-page'>
	<h1>Вход</h1>

	<form id='signin-form'>

		<div class='signin-form__fields'>
			{{{loginInput}}}
			{{{passwordInput}}}
		</div>

		{{#if formError}}
			<div class='signin-form__error'>{{formError}}</div>
		{{/if}}

		<div class='signin-form__actions'>
			{{{submitButton}}}

			<p class='signin-form__link'>
				<a href='/sign-up'>Нет аккаунта?</a>
			</p>
		</div>

	</form>
</main>