@use '../../styles/variables' as v;

.chat-item {
	display: flex;
	padding: 12px 12px;
	column-gap: 12px;
	cursor: pointer;
	background: #fbfbfb;

	border-top: 1px solid v.$color-border;

	&:last-child {
		border-bottom: 1px solid v.$color-border;
	}

	&:hover {
		background: #f5f5f7;
	}
}

.chat-item__avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #efefef;
	flex-shrink: 0;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
}

.chat-item__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chat-item__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 4px;
}

.chat-item__name {
	font-family: v.$font-main;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	color: v.$color-text-main;

	max-width: 190px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-item__time {
	font-size: 11px;
	line-height: 12px;
	color: v.$color-text-muted;
}

.chat-item__body {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 8px;
}

.chat-item__last-message {
	font-family: v.$font-main;
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	color: v.$color-text-muted;

	display: -webkit-box;
	overflow: hidden;

	line-clamp: 2;

	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.chat-item--active {
	background: #e4edfd;
}

.chat-item__unread {
	min-width: 20px;
	height: 20px;
	padding: 0 6px;
	border-radius: 999px;

	background: v.$color-primary;
	color: #ffffff;

	font-size: 11px;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
