@use '../../styles/variables' as v;

.message {
	display: flex;
	margin-bottom: 8px;

	&--theirs {
		justify-content: flex-start;
	}

	&--mine {
		justify-content: flex-end;
	}
}

.message__bubble {
	max-width: 60%;
	padding: 8px 10px 6px;
	font-size: 13px;
	line-height: 16px;
	display: inline-flex;
	align-items: flex-end;
	gap: 6px;
	border-radius: 12px;
}

.message--theirs .message__bubble {
	background: #f5f5f7;
	color: v.$color-text-main;
	border-radius: 12px 12px 12px 0;
}

.message--mine .message__bubble {
	background: #e4edfd;
	color: v.$color-text-main;
	border-radius: 12px 12px 0 12px;
}

.message__text {
	white-space: pre-wrap;
	word-break: break-word;
}

.message__meta {
	display: inline-flex;
	align-items: baseline;
	gap: 2px;
	font-size: 9px;
	line-height: 9px;
}

.message--theirs .message__time {
	color: v.$color-text-muted;
}

.message--mine .message__time {
	color: v.$color-primary;
	font-weight: 500;
}

.message__status {
	display: inline-flex;
	align-items: center;
}

.message__status-icon {
	position: relative;
	display: inline-block;

	width: 11px;
	height: 7px;
	top: 1.5px;
}

.message__status-icon::before,
.message__status-icon::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 3px;
	border-bottom: 1.5px solid v.$color-primary;
	border-right: 1.5px solid v.$color-primary;
	border-radius: 2px;
	transform: rotate(45deg);
}

.message__status-icon::after {
	left: 3px;
	top: -1px;
}

.message--mine .message__status-icon::before,
.message--mine .message__status-icon::after {
	border-color: v.$color-primary;
}
