@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.error-page {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 60px;
}

.error-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.error-content h1 {
	font-family: v.$font-main;
	font-size: 40px;
	line-height: 40px;
	font-weight: 500;
	letter-spacing: 0;
	text-align: center;
	color: v.$color-text-main;
}

.error-content p {
	font-family: v.$font-main;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: 0;
	text-align: center;
	color: v.$color-text-main;
}

.error-page__link {
	@include m.primary-link(14px, 500);
}
